body{
    margin: 0px;
    background-color: #1E96FC;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    margin: 2.5vh;
    height: 10vh;
    width: 90vw;
}

h1{
    font-family: 'Oswald';
    text-align: center;
    font-size: 5vw;
    font-weight: bolder;
    color: #FFC600;
    text-shadow: 5px 5px black;
}

#score{
    margin: 2vh;
    height: 6vh;
    width: 90vw;
}

h3{
    font-family: 'Oswald';
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    color: #FFC600;
    text-shadow: 3px 3px black;
}

#grid{
    height: 70vh;
    width: 90vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#categories{
    margin-top: 1.5vh;
    width: 88vw;
    height: 11vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.categoryBox{
    height: 11vh;
    width: 13.75vw;
    background-color: #072AC8;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: white;
    font-family: 'Oswald';
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}

#questions{
    width: 88vw;
    height: 58vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.catQuestions{
    width: 13.75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.question{
    height: 10vh;
    background-color: #072AC8;
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
    color: #FFC600;
    font-family: "Oswald";
    font-weight: bolder;
    font-size: 4vw;
    text-shadow: 4px 4px black;
    text-align: center;
}


/* #question{
    margin: 2vh;
    height: 5vh;
    width: 90vw;
    border: solid orange;
}

#answer{
    margin: 2vh;
    height: 5vh;
    width: 90vw;
    border: solid orange;
} */